$primary : #87c35d;
$dark: #333333;

$enable-shadows : true;

body {
  background-color: white;
}

.bg-green {
  background-color: $primary;
}

.main-container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}
